@import '../settings';

.container {
  display: flex;
  justify-content: center;
  padding: 80px;
  max-width: 1000px;
  margin: 0 auto;
  flex-flow: row wrap;
}

.intro {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 50px;
  text-align: center;
}

.title {
  @include font-nms;

  text-transform: uppercase;
  font-size: 5em;
  margin: 0 0 30px;
}

.subtitle {
  @include font-light;

  text-transform: uppercase;
  font-size: 1.8em;
}

.text {
  font-size: 0.8em;
  margin: 0 0 10px;
}

.btnWpr {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin: 10px;
}

@media (max-width: $desktop_width) {
  .container {
    padding: 40px;
  }

  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.2em;
  }
}

@media (max-width: $mobile_width) {
  .title {
    font-size: 2em;
  }

  .btn {
    width: 100%;
    font-size: 0.7em;
    padding: 10px 10px 8px;
  }
}