@import '../settings';

.btn {
  margin-right: 20px;
}

.galleryList {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
}

.galleryListItem {
  width: 120px;
  margin: 0 20px 0 0;
}

.galleryImage {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
}