@import "../styles/settings";

.container {
  width: 100%;
  position: relative;
  margin: 20px 0 0;
}

.dropzone {
  height: 200px;
  border-radius: 3px;
  background: $color_black_knight;
  border: 1px solid $color_grey_squant;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
  position: relative;
}

.dropIcon {
  max-width: 50%;
  height: 70px;
  width: 100%;

  svg {
    fill: $color_grey_squant;
  }
}

.dropText {
  font-size: 0.8em;
  color: $color_grey_squant;
  margin: 0 0 5px;
}

.dropTextError {
  font-size: 0.8em;
  color: $color_red_grenadier;
  margin: 0 0 5px;
}

.dropIconActive {
  svg {
    fill: $color_grey_squant;
  }
}

.dropBtn {
  color: $color_grey_squant;

  &::after {
    background: $color_grey_squant;
  }
}

.thumb {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.note {
  font-size: 0.7em;
  margin: 10px 0 0;
}
