@import '../../styles/settings';

.backBtn {
  position: absolute;
  top: 30px;
  right: 50px;
}

.intro {
  width: 100%;
  max-width: 900px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
}

.title {
  @include font-nms;

  text-transform: uppercase;
  font-size: 2.5em;
}

.text {
  font-size: 0.8em;
  margin: 0 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.form {
  width: 48%;
}

.editor {
  width: 48%;
  padding: 30px 20px 20px;
}

.editorCode {
  white-space: break-spaces;
  font-size: 0.7em;
  line-height: 1.5em;
  margin: 0;
  padding: 20px;
  border: 1px solid $color_grey_squant;
  border-radius: 10px;
  background: $color_black_knight;
}
