// Media Queries
$lg_width: 1200px;
$desktop_width: 800px;
$mobile_width: 500px;

$color_black_knight: #010b14;
$color_grey_jet: #353535;
$color_grey_squant: #666666;
$color_white: #ffffff;
$color_orange_new_black: #ff8400;
$color_red_grenadier: #c44739;
$color_focus: #3390d2;

// fonts
@mixin font-glyphs {
  font-family: "NMS-Glyphs-Mono", sans-serif;
}

@mixin font-bold {
  font-family: 'Raleway-bold', sans-serif;
}

@mixin font-regular {
  font-family: 'Raleway-regular', sans-serif;
}

@mixin font-light {
  font-family: 'Raleway-thin', sans-serif;
}

@mixin font-mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

@mixin font-nms {
  font-family: 'NMSGeoSans-Kerned', sans-serif;
}