// Media Queries
$lg_width: 1200px;
$desktop_width: 800px;
$mobile_width: 500px;

// Colors
$color_mine_shaft_black: #363434;
$color_white: #fff;
$color_chateau_grey: #a9aeb0;
$color_satin_grey: #eeebe4;
$color_sunshine_yellow: #f7f17e;
$color_peach_orange: #ffb182;
$color_coral_orange: #ff7b57;
$color_tundora_black: #423d3e;
$color_slate_grey: #706a6c;
$color_venus_grey: #b7b4b5;
$color_pearl_white: #f4f3ee;
$color_alabaster_white: #f5f4f2;
$color_silver_grey: #ccc;
$color_tinge_grey: #e6e6e6;
$color_cerulean_blue: #2d56d0;
$color_placeholder: #a9a9a9;
$color_focus: #3390d2;

// fonts
@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src: url('/fonts/NMS-Glyphs-Mono.woff2') format('woff2'),
    url('/fonts/NMS-Glyphs-Mono.woff') format('woff');
}

@mixin font-glyphs {
  font-family: "NMS-Glyphs-Mono", sans-serif;
}

@mixin font-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin font-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@mixin font-light {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@mixin font-mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}