@import './settings';

.btnContainer {
  margin: 50px 0;
}

.catBtnContainer {
  margin: 20px 0;
}

.btn {
  margin: 10px 20px 10px 0;
}

.catTitle {
  @include font-nms;

  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: normal;
}

.catText {
  margin: 0 0 20px;
}

@media (max-width: $mobile_width) {
  .btn {
    width: 47%;
    margin: 10px 6% 10px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
